@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply bg-ctp-base text-ctp-text;
}

button:not(.unique) {
  @apply bg-ctp-blue text-ctp-crust px-3 py-1 rounded-lg;
}

.post-image,
.post-video {
  width: 100%;
  height: auto;
}

img,
video {
  max-width: 500px;
  max-height: 500px;
}
