@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply bg-ctp-base text-ctp-text;
}

button:not(.unique) {
  @apply bg-ctp-blue text-ctp-crust px-3 py-1 rounded-lg;
}

img:not(.badge) {
  max-width: 80%;
  max-height: 500px;
}

video {
  max-width: 100%;
  max-height: 500px;
}
